## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [2]:
# 1) Seu código aqui

pc_mat = df_mat / 24
pc_por = df_por / 18
pc_geo = df_geo / 8
pc_ing = df_ing / 8
pc_his = df_his / 8
pc_fis = df_fis / 12
pc_qui = df_qui / 12

In [3]:
# 2) Seu código aqui
total_acertos = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total_acertos

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [4]:
# 3) Seu código aqui
percentual = round((total_acertos/90)*100, 2)

In [5]:
# 4) Seu código aqui
nota_corte = total_acertos[percentual > 45]
nota_corte.count()

Qt_acertos    47
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [6]:
# seu código aqui
df_desq = total_acertos[(df_mat['Qt_acertos'] == 0) |
                        (df_fis['Qt_acertos'] == 0) |
                        (df_qui['Qt_acertos'] == 0)]
df_desq

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

In [7]:
# 2)
df_desq.count()

Qt_acertos    23
dtype: int64

In [8]:
# 3) média da nota de história e geografia por cada aluno desqualificado individualmente
ind_desq = df_desq.index
df_desq_media_his_geo = (df_his.loc[ind_desq, 'Qt_acertos'] + df_geo.loc[ind_desq, 'Qt_acertos']) / 2
df_desq_media_his_geo

3     1.5
6     6.0
10    2.0
12    2.0
14    1.0
20    6.0
25    3.5
26    6.5
27    4.0
33    3.0
35    4.5
49    1.0
56    6.5
65    2.5
66    3.0
72    5.0
73    2.5
74    2.5
84    0.5
89    6.5
92    1.0
94    1.5
98    4.0
Name: Qt_acertos, dtype: float64

In [9]:
# média de nota de história de todos os alunos desqualificados 
df_desq_media_his = (df_his.loc[ind_desq, 'Qt_acertos'].mean())
df_desq_media_his

3.4347826086956523

In [10]:
# média de nota de geografia de todos os alunos desqualificados 
df_desq_media_geo = (df_geo.loc[ind_desq, 'Qt_acertos'].mean())
df_desq_media_geo

3.217391304347826

In [11]:
# 4)
df_passaram_segunda_fase = total_acertos.drop(index=ind_desq)
df_passaram_segunda_fase = df_passaram_segunda_fase[df_passaram_segunda_fase['Qt_acertos'] > 45]

df_passaram_segunda_fase

    Qt_acertos
1           48
2           50
5           50
7           49
8           58
17          52
18          50
24          50
31          54
36          56
37          52
39          49
40          47
42          48
45          48
48          55
60          48
62          46
67          46
70          62
71          53
77          53
78          66
81          55
88          50
93          56

In [12]:
print('O número de alunos que passaram para segunda fase são de', df_passaram_segunda_fase.shape[0])

O número de alunos que passaram para segunda fase são de 26

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [13]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-e5fe8943-af77-4ad2-bbc4-c7cb465b9468.c000.csv'

In [14]:
# 1) Sua solução aqui

df = pd.read_csv(arquivo, sep=';')
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,a83930db-41c7-4a7a-a3b3-9f9c3d5c840b-i0b0,32486576a7b1ac44107abc4f56eaa6fa1df89380e42cfc...,28,1994-09-11,F,3,PARDA,110149.0,10.0,SAO FRANCISCO DO GUAPORE,...,2.0,Faixa Etária,220301,SINOVAC/BUTANTAN,152,2023-03-09,Revacinação,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
1,e5c38271-ab90-4bf4-9b4a-c23fc129e38f-i0b0,106df24c151ee976ac041055bd23286b9c2f9cbb6247ae...,16,2005-10-08,M,3,PARDA,130150.0,10.0,ENVIRA,...,2.0,Faixa Etária,32010BD,PFIZER,Organization/28290,2021-12-11,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,d088582d-50b9-4b4b-a217-7bcb4a281cf5-i0b0,a281c9c7c40bb32f5a463d610f5fd52041ab7bcdb3e99a...,27,1993-07-24,F,4,AMARELA,120001.0,10.0,ACRELANDIA,...,9.0,Trabalhadores de Saúde,202010028,SINOVAC/BUTANTAN,Organization/61189445000156,2021-02-18,2ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
3,e5f92469-b8af-4dba-b0f6-2f16481dfc95-i0b0,bb97cba5c2dd3a188d83d83f6e3c8d53b3ee1d7302e7c8...,21,1999-10-08,M,1,BRANCA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FF8848,PFIZER,Organization/00394544000851,2021-10-05,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,f8eae3e6-83f0-46bc-a02e-e04a402839de-i0b0,abe4f29fa977c2a5acfe66c9820179484f9ea7144eac2f...,34,1986-09-26,M,4,AMARELA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FA9090,PFIZER,Organization/00394544000851,2021-07-01,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [15]:
df.shape[0]

384642

In [16]:
# 2)
df['document_id'].nunique()

384642

In [17]:
# 3)
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

976

In [18]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

976

In [19]:
# 4)
df_menor = df[df['paciente_idade'] < 18]
df_menor['paciente_idade'].count()

75710

In [20]:
# 5)
df.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [21]:
df['estabelecimento_razaoSocial'].nunique()

59

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [22]:
# 1)
df_menor = df[df['paciente_idade'] < 18].copy()

In [23]:
# 2)
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [24]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      46351
Povos Indígenas                                    4460
Outros                                             3755
Povos e Comunidades Tradicionais                    807
Trabalhadores de Saúde                              245
Comorbidades                                         56
População Privada de Liberdade                       53
Gestantes                                            41
Pessoas com Deficiência                              11
Pessoas Institucionalizadas                           3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Trabalhadores da Educação                             1
Name: count, dtype: int64

In [25]:
# 4)
lista_estabelecimentos = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']

In [26]:
# 5)
df_menor_lista_estabelecimentos = df_menor.loc[:,lista_estabelecimentos]

In [27]:
# 6)
df_menor_lista_estabelecimentos = df_menor_lista_estabelecimentos.drop_duplicates()
df_menor_lista_estabelecimentos.shape

(193, 6)

In [28]:
df_menor_lista_estabelecimentos

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
1,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
6,2001772,PREFEITURA MUNICIPAL DE SANTA ROSA DO PURUS,CENTRO DE SAUDE PAULO ALCIONE MARQUES,120043,SANTA ROSA DO PURUS,AC
15,2000202,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,UNIDADE DE SAUDE DA FAM SENADOR ADALBERTO SENA,120020,CRUZEIRO DO SUL,AC
29,2001748,PREFEITURA MUNICIPAL DE PORTO WALTER,UBS VICENTE VARELA DE ALMEIDA,120039,PORTO WALTER,AC
34,2001349,PREFEITURA MUNICIPAL DE BRASILEIA,ESF TUFIC MIZAEL SAADY,120010,BRASILEIA,AC
...,...,...,...,...,...,...
131768,197599,CENTRAL MUNICIPAL DE REDE DE FRIOS,CENTRAL MUNICIPAL DE REDE DE FRIOS,120020,CRUZEIRO DO SUL,AC
136862,9315578,MUNICIPIO DE PORTO WALTER,UBS FRANCISCA DAS CHAGAS LUSTOSA,120039,PORTO WALTER,AC
149766,2001357,SECRETARIA MUNICIPAL DE SAUDE DE BRASILEIA,ESF PEDRO OLIVEIRA DE SOUZA,120010,BRASILEIA,AC
205832,5493455,PREFEITURA MUNICIPAL DE PLACIDO DE CASTRO,U S F MARIO GOMES DA SILVA,120038,PLACIDO DE CASTRO,AC
227212,755605,USF BARRO VERMELHO,USF BARRO VERMELHO,120040,RIO BRANCO,AC